@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --animate-shimmer: shimmer 2s infinite;
    --animate-loading: loading 1.5s ease-in-out infinite alternate;

    @keyframes shimmer {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(100%);
        }
    }

    @keyframes loading {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(200%);
        }
    }
}